Host 192.168.50.* *.localdomain
  User vagrant
  ServerAliveInterval    60
  TCPKeepAlive           yes
  GSSAPIAuthentication  no
  AddressFamily inet
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no

Host *.archinext.local *.cloud.alt 10.77.2.*
  User ubuntu
  ServerAliveInterval    60
  TCPKeepAlive           yes
  GSSAPIAuthentication  no
  AddressFamily inet
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
